*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* Create firstr nav bar */
nav{
    background-color: #113b89;
    display: flex;
    justify-content: space-between;
    height: 42px;
}
nav .date{
    display: flex;
    align-items: center;
    margin: 0px 6rem;
}
nav .date a i p{
    display: flex;
    
}
nav a{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 5;
    margin: 0px 12px;
    font-weight: 500;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0px 14px;
}
nav a i{
    margin: 0px 7px;
} 
nav .contact_nav{
    display: flex;
    align-items: center;
    margin: 0px 100px;
}
nav .contact_nav a{
    
    margin: 0px 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 7px 11px;
}
.global_continer{
    /* background-color: black;
    height: 120rem; */
}
.global_continer .local_continer{
    margin: 0px auto;
    width: 65rem;    
    /* height: 922rem; */
}
/* Create Slider image automatic */
.local_continer .slider_img{
    margin: 0px 57px;
    width: 1226px;
    height: 526px;
    position: absolute;
    top: 42px;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/s1.jpg");

}
/* Create second nav bar  */
.slider_img nav{
    width: 1226px;
    height: 70px;
    padding: 7px 0px;
    background-color: #e6e6e600;

}
.slider_img nav h2{
    margin: 22px 106px;
    color: black;

}
.slider_img nav .blog{
    margin: 10px 110px;
    color: black;
    font-weight: 700;

}
.slider_img nav .blog ul{
    list-style: none;

}
.slider_img nav .blog ul li{
    padding: 11px 0px;
    display: inline-block;
    margin: 3px 15px;
    transition: 0.8s;
    

}
.slider_img nav .blog ul li:first-child{
    
    border-bottom: 2px solid #113b89;
    

}
.slider_img nav .blog ul li:hover{
    border-bottom: 2px solid #113b89;

}
/* Create Text Area  */
.local_continer .text_area{
    width: 500px;
    height: 199px;
    margin: 41px 155px;
}

.text_area h3{
    color: #113b89;

}
.text_area h1{
    color: #113b89;
    font-weight: 700;
}
.text_area p{
    color: #113b89;
    line-height: 2;
    font-weight: 400;
}

.text_area button{
    margin: 34px 14px;
    border: none;
    background-color: #113b89;
    color: white;
    padding: 12px 23px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.7s;
}
.text_area button:hover{
    background-color: white;
    color: #113b89;
    
}
/* Create Blog of Contact */
.contact_blog{
    padding: 38px 93px;
    line-height: 2;
    color: white;
    margin: 175px 0px;
    position: absolute;
    background-color: #113b89;
    display: block;
    width: 1226px;
}
.contact_blog h3{
    
}
.contact_blog p{

}
.contact_blog button{
    border: 2px solid white;
    background-color: #113b89;
    color: white;
    padding: 12px 23px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.7s;
    margin: 1px 0px;
    top: 45px;
    right: 95px;
    position: absolute;
    cursor: pointer;

}
.contact_blog button:hover{
    background-color: white;
    color: #113b89;
    cursor: pointer;
    
}

/* Crete Blog Service */
.global_blog{
    display: flex;
    justify-content: space-around;
    margin: 50px 100px;
}
.service{
    height: 45rem;
    background-color: white;
    margin: 321px 0px;
    position: absolute;
    width: 1226px;
}

.service h2{
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    margin: 50px 0px;
}
.service h2 span{
    color: #113b89;
    cursor: pointer;
}
.service h4{
    text-align: center;
    
}
.service .blog{
    width: 312px;
    height: 435px;
    background-color: #ececec;
}
.service .blog img{
    
}
.service .blog h3{
    margin: 12px 20px;
}
.service .blog p{
    line-height: 2;
    margin: 5px 20px;
}
.service .blog button{
    border: 2px solid white;
    background-color: #113b89;
    color: white;
    padding: 12px 23px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    margin: 9px 29px;
    cursor: pointer;
    transition: 0.7s;

}
.blog button:hover{
    background-color: white;
    color: #113b89;
    cursor: pointer;
    
}
/* Create Blog Portfolio */
.protfolio{
    height: 720px;
    background-image: url('../img/protfolio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 27px 0px;
    width: 1226px;
    display: flex;
    justify-content: space-around;
    padding: 102px 0px;
}
.protfolio .info {
    width: 459px;
    height: 373px;
    margin: 0px 63px;
}
.protfolio .info p {
    margin: 35px 28px;
}
.protfolio .info h2{
    margin: -26px 0;
}
.protfolio .info h4{
    margin: 50px;
    text-align: start;
    line-height: 1.4;
}
.protfolio .info button{
    border: 2px solid white;
    background-color: #113b89;
    color: white;
    padding: 12px 23px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    margin: 9px 29px;
    cursor: pointer;

}
.info button:hover{
    background-color: white;
    color: #113b89;
    cursor: pointer;
    transition: 0.7s;
    
}.protfolio .review{
    width: 537px;
    height: 373px;
    margin: 0px 88px;
    
}
.protfolio .review .blog_A{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;

}
.protfolio .review .blog_B{
    display: flex;
    justify-content: space-around;
    
}
.protfolio .review .mini_blog1{
    border: 1px solid;
    width: 243px;
    height: 162px;
    margin: 12px 0px;
}

.protfolio .review .mini_blog1 h2{
    color: #113b89;
}
.protfolio .review .mini_blog1 h3{
    text-align: center;
    margin-top: -40px;

}
.protfolio .review .mini_blog2 h2{
    color: #113b89;
}
.protfolio .review .mini_blog2 h3{
    text-align: center;
    margin-top: -40px;
    
}
.protfolio .review .mini_blog2{
    border: 1px solid;
    border: 1px solid;
    width: 243px;
    height: 162px;
    margin: 12px 0px;
}


/* Create Blog Company */

.company{
    display: flex;
    background-color: white;
    padding: 130px 0px;
    margin: -27px 0px;
}

.company .galerie{
    
}
.company .galerie img{
    margin: 0px 94px;
}
.company .info{
    width: 540px;
    height: 400px;
    margin: 0px -94px;
    background-color: #ececec;
    color: rgb(119, 117, 117);
    padding: 15px 29px;
}
.company .info h2{
    text-align: left;
    margin: 25px 30px;
    color: black;
}
.company .info p:nth-child(1){
    text-align: left;
    font-size: 14px;
    margin: 6px 33px;
}
.company .info p:nth-child(3){
    text-align: left;
    margin: 1px 29px;
    line-height: 2;
    font-size: 14px;
}
.company .info p:nth-child(4){
    text-align: left;
    margin: 14px 29px;    
    line-height: 2;
    font-size: 14px;
}

.company button{
    border: 2px solid white;
    background-color: #113b89;
    color: white;
    padding: 12px 23px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    margin: -6px 26px;
    cursor: pointer;
}

/* Create About_Us Blog */

.About_Us{
    background-color: #ececec;
    margin: -3px 0px;
    padding: 62px 0px;
}

.About_Us h4{
    text-align: center;
    margin-top: -30px;
    font-weight: 400;

}



.About_Us .global_box{
    display: flex;
    margin: -3px 92px;
    justify-content: space-around;
    background-color: #ececec;
    padding: 61px 19px;
}

.global_box .box1{
    width: 535px;    
    height: 200px;
    border: 1px solid;
    padding: 40px 4px;
    background-color: white;

}
.global_box .box1 h3{
    text-align: center;
    line-height: 2;
    
}
.global_box .box1 p{
    color: #113b89;
    text-align: center;
    font-weight: 500;
}
.global_box .box1 p:last-child{
    color: rgb(119, 117, 117);
    margin: 15px 0px;
}

.global_box .box2{
    width: 535px;    
    height: 200px;
    border: 1px solid;
    padding: 40px 4px;
    background-color: white;

}
.global_box .box2 h3{
    text-align: center;
    line-height: 2;

}
.global_box .box2 p{
    color: #113b89;
    text-align: center;
    font-weight: 500;

}
.global_box .box2 p:last-child{
    color: rgb(119, 117, 117);
    margin: 15px 0px;
}

/* Create Blog Request */

.request{
    background-color: white;
    margin: -50px 0px;
    padding: 50px 0px;
}

.request h2{
    
}
.request p{ 
    text-align: center;
    margin-bottom: 35px;
    color: rgb(119, 117, 117);
}

.request .login{
    text-align: center;
    background-color: currentColor;
    margin: 0px 92px;
    padding: 59px 0px;
    border-radius: 10px;
    background-color: #113b89;

}
.request .login .information{

}
.login input{
    width: 19rem;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 9px 20px;
    margin: 18px 10px;

}
.request .message{
}
.message textarea{
    padding: 20px 28px;
    border-radius: 20px;
    width: 60rem;
    margin: 30px 0px;
    border: none;
    outline: none;
}
button{
    background-color: #113b89;
    color: white;
    border: 2px solid white;
    padding: 12px 23px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    margin: 9px 29px;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: #113b89;
    cursor: pointer;
    transition: 0.7s;

}


/* Create Blog Refernce */

.service .reference{
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 49px 0px;
}
/* .service .reference h4, p{
    color: white;
    margin: 52px 3px;
} */
.reference ul li{
    list-style: none;


}
.reference .blog1{
    width: 190px;

}

/* Create Footer Bar */
footer{
    background-color: rgb(87, 87, 87);
    color: white;
    padding: 25px 0px;
}


















